<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".mp3" />
            <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name=".mp3" value="audio/mpeg" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
